<section class="section" id="feedbacks">
  <div class="container feedbacks-container">
    <h2 class="title-feedbacks">Customer Feedbacks</h2>

    <p class="title-text-feedbacks">
      See what our readers are saying about us!
    </p>

    <div class="slider-feedbacks swiper">
      <ul class="list-feedbacks swiper-wrapper">
        <li class="item-feedbacks swiper-slide" lazy="true">
          <p class="text-item-feedbacks">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="icon-text-feedbacks">
            <picture>
              <source srcset="/img/icon-doe.webp 1x, /img/icon-doe2.webp 2x" type="image/webp" />
              <img loading="lazy" src="/img/icon-doe.webp" alt="Jane Doe" width="48" height="48"
                class="icon-item-feedbacks" />
            </picture>
            <div class="column-feedbacks">
              <p class="client-name-feedback">Jane Doe</p>
              <p class="client-position-feedback">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="item-feedbacks swiper-slide" lazy="true">
          <p class="text-item-feedbacks">
            Customer service was super helpful, and my order arrived earlier
            than expected. Highly recommend!
          </p>
          <div class="icon-text-feedbacks">
            <picture>
              <source srcset="/img/icon-Smith.webp 1x, /img/icon-Smith2.webp 2x" type="image/webp" />
              <img loading="lazy" src="/img/icon-Smith.webp" alt="John Smith" width="48" height="48"
                class="icon-item-feedbacks" />
            </picture>
            <div class="column-feedbacks">
              <p class="client-name-feedback">John Smith</p>
              <p class="client-position-feedback">Editor, BookMag</p>
            </div>
          </div>
        </li>
        <li class="item-feedbacks swiper-slide" lazy="true">
          <p class="text-item-feedbacks">
            Love the curated picks and clear descriptions. Makes it easy to find
            my next favorite book.
          </p>
          <div class="icon-text-feedbacks">
            <picture>
              <source srcset="/img/icon-Johnson.webp 1x, /img/icon-Johnson2.webp 2x" type="image/webp" />
              <img loading="lazy" src="/img/icon-Johnson.webp" alt="Emily Johnson" width="48" height="48"
                class="icon-item-feedbacks" />
            </picture>
            <div class="column-feedbacks">
              <p class="client-name-feedback">Emily Johnson</p>
              <p class="client-position-feedback">Author, Novelist</p>
            </div>
          </div>
        </li>
        <li class="item-feedbacks swiper-slide " lazy="true">
          <p class="text-item-feedbacks">
            The website is easy to navigate, and I found exactly what I was
            looking for. Definitely shopping here again!
          </p>
          <div class="icon-text-feedbacks">
            <picture>
              <source srcset="/img/icon-Brown.webp 1x, /img/icon-Brown2.webp 2x" type="image/webp" />
              <img loading="lazy" src="/img/icon-Brown.webp" alt="Michael Brown" width="48" height="48"
                class="icon-item-feedbacks" />
            </picture>
            <div class="column-feedbacks">
              <p class="client-name-feedback">Michael Brown</p>
              <p class="client-position-feedback">Reader, Enthusiast</p>
            </div>
          </div>
        </li>
        <li class="item-feedbacks swiper-slide" lazy="true">
          <p class="text-item-feedbacks">
            Books arrived in perfect condition and right on time. I appreciate
            the thoughtful packaging!
          </p>
          <div class="icon-text-feedbacks">
            <picture>
              <source srcset="/img/icon-Carter.webp 1x, /img/icon-Carter2.webp 2x" type="image/webp" />
              <img loading="lazy" src="/img/icon-Carter.webp" alt="Emily Carter" width="48" height="48"
                class="icon-item-feedbacks" />
            </picture>
            <div class="column-feedbacks">
              <p class="client-name-feedback">Emily Carter</p>
              <p class="client-position-feedback">Manager, Bright Books Inc.</p>
            </div>
          </div>
        </li>
        <li class="item-feedbacks swiper-slide" lazy="true">
          <p class="text-item-feedbacks">
            Easy checkout, great prices, and I even got a discount on my first
            order. What’s not to love?
          </p>
          <div class="icon-text-feedbacks">
            <picture>
              <source srcset="/img/icon-Miller.webp 1x, /img/icon-Miller2.webp 2x" type="image/webp" />
              <img loading="lazy" src="/img/icon-Miller.webp" alt="Jason Miller" width="48" height="48"
                class="icon-item-feedbacks" />
            </picture>
            <div class="column-feedbacks">
              <p class="client-name-feedback">Jason Miller</p>
              <p class="client-position-feedback">Designer, PageCraft Studio</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="slider-bottom-feedbacks">
      <div class="slider-pagination-feedbacks">
        <div class="swiper-pagination-feedbacks"></div>
      </div>
      <div class="slider-navigation-feedbacks">
        <button class="arrow swiper-button-prev-feedbacks" aria-label="Previous" disabled>
          <svg class="arrow-icon" width="14" height="14">
            <use href="/img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="arrow swiper-button-next-feedbacks" aria-label="Next">
          <svg class="arrow-icon" width="14" height="14">
            <use href="/img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>