<footer class="section footer">
  <div class="container footer-container">
    <div class="logo-nav">
      <a href="" target="_blank" class="logo-icon-link"
      ><svg
        class="logo-icon"
        width="84"
        height="36"
        fill="black"
      >
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="nav-links-list">
      <li class="nav-link-item"><a href="#home" class="nav-link">Home</a></li>
      <li class="nav-link-item"><a href="#books" class="nav-link">Books</a></li>
      <li class="nav-link-item"><a href="#feedbacks" class="nav-link">Feedbacks</a></li>
      <li class="nav-link-item"><a href="#location" class="nav-link">Location</a></li>
    </ul>
    </div>
    <div class="join-container">
      <form class="email-form-footer">
        <label for="join" class="join-text">Join
          <input
            class="email-input"
            type="email"
            name="email-address"
            placeholder="Enter your email"
            id="join"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
        </label>
        <button class="join-btn" type="submit">
          Sign up
        </button>
      </form>
      <span class="required-note">* Required field</span>
    </div>
  <div class="footer-bottom">&#xA9; 2025 Booksy. All rights reserved.</div>
</footer>