<header class="section" id ="home">
  <div class="container header">
    <a class="logo" href="./index.html" aria-label="Booksy Logo, Home">
      <svg class="logo__icon" width="84" height="36">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg> </a>
    <nav class="header-nav" aria-label="Main navigation">
      <ul>
        <li><a href="#home" class="header-link">Home</a></li>
        <li><a href="#books" class="header-link">Books</a></li>
        <li><a href="#feedbacks" class="header-link">Feedbacks</a></li>
        <li><a href="#events" class="header-link">Events</a></li>
        <li><a href="#location" class="header-link">Location</a></li>
      </ul>
    </nav>
    <button class="burger-btn" type="button" data-menu-open aria-label="Open menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <!--Mobile menu-->
    <div class="mobile-menu">
      <div class=" wrap">
        <div class="mobile-window-header">
          <a class="logo" href="/index.html" aria-label="Booksy Logo, Home"> <svg width="84" height="36">
              <use href="/img/icons.svg#icon-logo"></use>
            </svg> </a>
          <button class="close-btn" type="button" data-menu-close aria-label="Close menu">
            <svg class="icon-close" width="12" height="12">
              <use href="/img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <nav aria-label="Main navigation">
          <ul class="mobile-list">
            <li><a href="#home" class="mobile-link">Home</a></li>
            <li><a href="#books" class="mobile-link">Books</a></li>
            <li><a href="#feedbacks" class="mobile-link">Feedbacks</a></li>
            <li><a href="#events" class="mobile-link">Events</a></li>
            <li><a href="#location" class="mobile-link">Location</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>