.section {
}

.article {
}

.container {
}

.article-text {
  margin-bottom: 32px;
}

.article-text-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.article-text-paragraf {
  font-size: 18px;
}

.article-image {
  display: block;
  border-radius: 16px;
  overflow: hidden;
}

/* tablet */
@media screen and (min-width: 768px) {
  .article-image {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    gap: 32px;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .article-image {
    flex-shrink: 0;
  }
}
