.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-cover {
    width: 343px;
    height: 488px;
}

.btn-book {
    width: 100%;
}

.btn-show-more {
    width: 342px;
    height: 48px;
}