.title-feedbacks {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.title-text-feedbacks {
  font-size: 18px;
  margin-bottom: 80px;
}

.slider-feedbacks {
  margin-bottom: 32px;
}

.list-feedbacks {
  display: flex;}

.item-feedbacks {
  min-height: 314px;
  flex-shrink: 0;
  padding: 32px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 16px;
}

.text-item-feedbacks {
  font-size: 18px;
  margin-bottom: 24px;
}

.icon-text-feedbacks {
  display: flex;
  gap: 16px;
}

.icon-item-feedbacks {
  width: 48px;
  height: 48px;
}

.client-name-feedback {
  font-weight: 600;
}

.slider-bottom-feedbacks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
}

.swiper-pagination-feedbacks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-feedbacks .swiper-pagination-bullet-active {
  background-color: #0b0500;
  /* цвет активной точки */
  opacity: 1;
  /* чтобы была полностью непрозрачной */
}

.slider-navigation-feedbacks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.swiper-button-prev-feedbacks,
.swiper-button-next-feedbacks {
  width: 48px;
  height: 48px;
}

.feedbacks-desktop-only {
  display: none;
}



/* media --------------------------------------------------*/
@media (min-width: 768px) {
  .item-feedbacks {
    width: 340px;
    min-height: 244px;
  }

 
}

@media screen and (min-width: 1440px) {
  .list-feedbacks .item-feedbacks {
    width: 421px;
    min-height: 217px;
  }

 }
/* --------------------------------------------- */
