.footer {
  background: var(--secondary-background);
  padding: 80px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-bottom: 80px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.logo-icon-link {
  display: block;
}
.logo-icon-link:hover,
.logo-icon-link:focus {
  transform: scale(1.25);
}
.nav-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.nav-link {
  display: block;
  /* transform: scale(1);
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease; */
}
.nav-link:hover {
  transform: scale(1.25);
  color: #5a2502;
  text-shadow: var(--btn-background) 0 0 3px;
  text-decoration: underline;
}

.join-label {
  display: block;
  font-weight: 600;
  margin-bottom: 16px;
}
.email-form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 12px;
}
.email-input {
  min-width: auto;
  width: 100%;
  min-height: 48px;
  border-radius: 4px;
  background-color: var(--foraground);
  color: var(--text-main-color);
}
.email-input::placeholder {
  color: #0b050099;
}
.email-input:hover,
.email-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--btn-background);
}

.join-btn {
  min-width: 106px;
  min-height: 48px;
  border-radius: 4px;
}
.join-btn:hover,
.join-btn:focus {
  background-color: var(--btn-background);
}
.required-note {
  font-size: 12px;
}
.license-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 58px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.license-text {
  font-size: 14px;
}
.license-text:hover,
.license-text:focus {
  color: var(--btn-background);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .nav-links-list {
    flex-direction: row;
    gap: 32px;
  }
  .join-container {
    min-width: 400px;
  }
  .email-input {
    width: 278px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
